<section class="gallery">
    <h2 class="exercises-header">Exercises</h2>
    <div class="exercises-btns-div">    
        <button class="exercises-button muscles">Muscles</button>
        <button class="exercises-button body-parts">Body Parts</button>
        <button class="exercises-button equipment">Equipment</button>
    </div>
    <div class="muscles-gallery">
    </div>
    <div class="number-btns">
        <button class="number-btn">1</button>
        <button class="number-btn">2</button>
    </div>
</section>