<section class="section">
    <div class="container">
        <h2 class="exercises-header">Exercises</h2>
        <div class="exercises-btns-div">    
            <button class="exercises-button" data-filter="muscles">Muscles</button>
            <button class="exercises-button" data-filter="bodypart">Body Parts</button>
            <button class="exercises-button" data-filter="equipment">Equipment</button>
        </div>
        <ul class="gallery">
            <!--<li class="gallery-item></li>"-->
        </ul>
        <div id="pagination" class="tui-pagination"></div>
    </div>
    </section>

    <!--
  <div id="pagination" class="tui-pagination">
    <a href="#" class="tui-page-btn tui-first"><span class="tui-ico-first">first</span></a>
    <a href="#" class="tui-page-btn tui-prev"><span class="tui-ico-prev">prev</span></a>
    <a href="#" class="tui-page-btn tui-first-child">1</a>
    <strong class="tui-page-btn tui-is-selected">2</strong>
    <a href="#" class="tui-page-btn">3</a>
    <a href="#" class="tui-page-btn tui-next-is-ellip tui-last-child"><span class="tui-ico-ellip">...</span></a>
    <a href="#" class="tui-page-btn tui-next"><span class="tui-ico-next">next</span></a>
    <a href="#" class="tui-page-btn tui-last"><span class="tui-ico-last">last</span></a>
</div>
    -->