<section class="section">
    <div class="container">
        <h2 class="exercises-header">Exercises</h2>
        <div class="exercises-btns-div">    
            <button class="exercises-button" data-filter="muscles">Muscles</button>
            <button class="exercises-button" data-filter="bodyparts">Body Parts</button>
            <button class="exercises-button" data-filter="equipment">Equipment</button>
        </div>
        <ul class="gallery">
            <!--<li class="gallery-item></li>"-->
        </ul>
        <div class="number-btns">
            <button class="number-btn">1</button>
            <button class="number-btn">2</button>
        </div>
    </div>
    </section>