<section class="section">
  <div class="favorites-section container">
    <h1 class="favorites-title">Favorites</h1>
    <div class="favorites-card-content">
      <div class="favorites-content">
        <img
          src="../img/favorites/favorites.desktop.tablet1x.png"
          alt=""
          srcset=""
        />
        <!-- <img
          srcset="./public/favorites.png 1x, ./public/favorites.2x.png 2x"
          src="./public/favorites.png"
          alt="Image favorites"
          width="85"
          height="52"
        /> -->
        <!-- <picture> -->
        <!-- Desktop and tablet screen -->
        <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ../img/favorites/favorites.desktop.tablet1x.png 1x,
              ../img/favorites/favorites.desktop.tablet2x.png 2x
            "
            type="image/png"
          /> -->
        <!-- Phone screen -->
        <!-- <source
            media="(max-width: 767px)"
            srcset="
              ../img/favorites/favorites.mobile1x.png 1x,
              ../img/favorites/favorites.mobile2x.png 2x
            "
            type="image/png"
          /> -->
        <!-- <img
            srcset="./public/favorites.png 1x, ./public/favorites.2x.png 2x"
            src="./public/favorites.png"
            alt="Image favorites"
            width="85"
            height="52"
          /> -->
        <!-- </picture> -->
        <p class="favorites-text">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</section>
