<section class="section">
  <div class="favorites-section container">
    <h1 class="favorites-title">Favorites</h1>
    <div class="favorites-card-content">
      <div class="favorites-content">
        <img
          srcset="../public/favorites.png 1x, ../public/favorites.2x.png 2x"
          src="../public/favorites.png"
          alt="Image favorites"
          width="85"
          height="52"
        />

        <p class="favorites-text">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</section>
