<footer class="footer">
  <div class="container footer-container">
    <div class="footer-up">
      <div class="footer-left">
        <a href="../index.html" class="footer-logo">energy.flow</a>
        <ul class="footer-social-links">
          <li class="footer-social-item">
            <a
              href="https://www.facebook.com/goITclub/ "
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/goitclub/ "
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="footer-social-link"
              target="_blank"
            >
              <svg class="footer-social-icon">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-right">
        <h2 class="footer-title">
          Transforming your <span class="accent-title">body</span> shape with us
        </h2>
        <div class="footer-subscribe">
          <p class="subscribe-title">
            Subscribe and learn about new exercises!
          </p>
          <form action="#" class="footer-form" method="post">
            <label for="email">
              <input
                class="footer-input"
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/"
              />
            </label>
            <button type="submit" class="subscribe-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-down">
      <p class="footer-text">Energy Flow. All rights reserved</p>
      <div class="footer-privacy">
        <a href="#">Privacy Policy</a>
        <span>/</span>
        <a href="#">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
