<header class="section header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo">energy.flow</a>
<ul class="pages">
  <li class="page page-home"><a href="index.html">Home</a></li>
  <li class="page page-favorites"><a href="favorites.html">Favorites</a></li>
</ul>
<ul class="header-social-link">
  <li class="header-link-item">
    <a
    href="https://www.facebook.com/goITclub/"
    class="header-social-item"
    target="_blank">
      <svg class="header-social-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="header-link-item">
    <a 
    href="https://www.instagram.com/goitclub/"
    class="header-social-item"
    target="_blank">
      <svg class="header-social-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="header-link-item">
    <a
    href="https://www.youtube.com/c/GoIT"
    class="header-social-item"
    target="_blank">
      <svg class="header-social-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
</div>
</header>