<header class="section header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo">energy.flow</a>

<button type="button" class="header-btn-open" data-menu-open>
  <svg class="open-icon" width="32" height="16">
    <use href="./img/icons.svg#icon-open-mob-menu"></use>
  </svg>
</button>
<div class="mob-menu is-hidden" data-menu>
  <div class="mob-menu-div">
    <a href="./index.html" class="mob-menu-logo">energy.flow</a>
    <button type="button" class="header-btn-close" data-menu-close>
      <svg class="icon-x" width="20" height="20">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <ul class="mob-menu-pages">
    <li class="page home-mob-menu"><a href="index.html">Home</a></li>
    <li class="page favorites-mob-menu"><a href="favorites.html">Favorites</a></li>
  </ul>
  <ul class="mob-menu-social-link">
    <li class="mob-menu-link-item">
      <a href="https://www.facebook.com/goITclub/" class="header-social-item" target="_blank">
        <svg class="header-social-icon" width="41" height="41">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-link-item">
      <a href="https://www.instagram.com/goitclub/" class="header-social-item" target="_blank">
        <svg class="header-social-icon" width="41" height="41">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mob-menu-link-item">
      <a href="https://www.youtube.com/c/GoIT" class="header-social-item" target="_blank">
        <svg class="header-social-icon" width="41" height="41">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>

<ul class="pages">
  <li class="page page-home"><a href="index.html">Home</a></li>
  <li class="page page-favorites"><a href="favorites.html">Favorites</a></li>
</ul>
<ul class="header-social-link">
  <li class="header-link-item">
    <a href="https://www.facebook.com/goITclub/" class="header-social-item" target="_blank">
      <svg class="header-social-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="header-link-item">
    <a href="https://www.instagram.com/goitclub/" class="header-social-item" target="_blank">
      <svg class="header-social-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="header-link-item">
    <a href="https://www.youtube.com/c/GoIT" class="header-social-item" target="_blank">
      <svg class="header-social-icon" width="44" height="44">
        <use href="./img/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
</div>
</header>