<div class="backdrop visually-hidden">
  <div class="modal visually-hidden">
    <!-- <div class="modal-description-container">
      <button class="close-modal-btn">
        <svg class="close-modal-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="modal-gif-container">
        <picture>
          <source
            media="(max-width:767.98px)"
            type="image/gif"
            width="295"
            height="258"
            src="https://ftp.goit.study/img/power-pulse/gifs/0003.gif"
          />
          <source
            media="(min-width:768px)"
            type="image/gif"
            width="270"
            height="259"
            src="https://ftp.goit.study/img/power-pulse/gifs/0003.gif"
          />
          <img
            class="modal-gif"
            src="https://ftp.goit.study/img/power-pulse/gifs/0003.gif"
            alt="air bike"
            width="295"
            height="258"
          />
        </picture>
      </div>
      <div class="text-container">
        <h4 class="modal-title">Air bake</h4>
        <div class="rating-container">
          <p class="modal-exercises-rating">4.0</p>
          <div class="star-outer"><div class="star-inner"></div></div>
        </div>
        <ul class="description-list">
          <li class="description-item">
            <p>Target</p>
            <span>Abs</span>
          </li>
          <li class="description-item">
            <p>Body Part</p>
            <span>Waist</span>
          </li>
          <li class="description-item">
            <p>Equipment</p>
            <span>Body weight</span>
          </li>
          <li class="description-item">
            <p>Popular</p>
            <span>150 </span>
          </li>
          <li class="description-item">
            <p>Burned Calories</p>
            <span>323/3 min</span>
          </li>
        </ul>
        <p class="modal-description-text">
          This refers to your core muscles, which include the rectus abdominis,
          obliques, and transverse abdominis. They're essential for maintaining
          posture, stability, and generating force in many movements. Exercises
          that target the abs include crunches, leg raises, and planks.
        </p>
        <div class="modal-buttons-container">
          <button data-id="64f389465ae26083f39b17a4" class="add-favorite-btn">
            Add to favorite
            <svg class="icon-heart" width="18" height="18">
              <use href="./img/icons.svg#icon-heart"></use>
            </svg>
          </button>
          <button data-id="64f389465ae26083f39b17a4" class="give-rating-btn">
            Give a rating
          </button>
        </div>
      </div>
    </div> -->
  </div>
</div>
