<section class="section">
  <div class="container quote-container">
    <h2 class="visually-hidden">Hero section</h2>
    <div class="quote-box">
      <svg class="quote-icon-man" width="32" height="32">
        <use href="./img/icons.svg#icon-running_man"></use>
      </svg>
      <svg class="quote-icon-quotes" width="48" height="48">
        <use href="./img/icons.svg#icon-quotes"></use>
      </svg>

      <div class="generated-quote-container">

      </div>
    </div>
    <div class="quote-background"></div>
  </div>
</section>
