  <section class="section">
    <div class="container qt-container">
      <h2 class="visually-hidden">Hero section</h2>
      <div class="qt-box">

        <svg class="qt-icon-man" width="32" height="32">
          <use href="./img/icons.svg#icon-running_man"></use>
        </svg>
        <svg class="qt-icon-quotes" width="28" height="28">
          <use href="./img/icons.svg#icon-quotes"></use>
        </svg>
  
        <div class="generated-quote-container"></div>

      </div>

      <div class="qt-outer">

        <div class="qt-background"></div>

        <div class="qt-time">
          <span class="qt-icon-container">
            <svg class="qt-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-dumbbells"></use>
            </svg>
          </span>
          <span class="qt-time-span">110 min</span>
          <span class="qt-norm-span">Daily norm of sports</span>
        </div>

      </div>
  </div>
  </section>
    