<section class="section">
  <div class="container quote-container">
    <div class="quote-box">
      <svg class="quote-icon-man" width="32" height="32">
        <use href="../img/icons.svg#icon-running_man"></use>
      </svg>
      <svg class="quote-icon-quotes" width="48" height="48">
        <use href="../img/icons.svg#icon-quotes"></use>
      </svg>

      <div class="generated-quote-container">
        <h3 class="quote-header">Quote of the day</h3>
        <p class="quote-text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <h4 class="quote-author">Tom Brady</h4>
      </div>
    </div>
    <div class="quote-background"></div>
  </div>
</section>
