<section class="section useful-info-section">
  <div class="container useful-info-container">
    <div class="useful-info-background"></div>
    <div class="useful-info-content">
      <div class="useful-info-icon-wrap">
        <svg class="useful-info-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-dumbbells"></use>
        </svg>
      </div>
      <div class="useful-info-text">
        <h3 class="useful-info-header">110 min</h3>
        <p class="useful-info-second-header">Daily norm of sports</p>
        <p>
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
