<section class="section useful-info-section">
  <div class="container useful-info-container">
    <div class="useful-info-background"></div>
    <div class="useful-info-text">
      <svg>
        <use href="./img/icons.svg#icon-dumbbells"></use>
      </svg>
      <h3>110 min</h3>
      <p>Daily norm of sports</p>
      <p>
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
