.exercises-header {
    font-size: 44px;
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 32px;
}

.exercises-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}
.exercises-btns-div{
    display: flex;
    gap:10px;
}
.exercises-button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--page-bg-color);
    color: var(--text-base-color);
}

.active {
    background-color: var(--base-button-color);
    color: var(--page-bg-color);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
    margin-bottom: 32px;
}
.gallery-item{
    border-radius: 12px;
    border: 1px solid rgba(246, 246, 246, 0.3);
    width: 313px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.gallery-image {
    max-width: 100%;
}

    .gallery-item-description {
        position: absolute;
        inset:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 45px, 105px, 45px, 105px;
        background: linear-gradient(0deg, rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7)),
        linear-gradient(0deg, rgba(246, 246, 246, 0.3), rgba(246, 246, 246, 0.3));

        
        .name {
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            color: var(--page-bg-color);
        }

        .filter {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0px;
            text-align: left;
            color: #F6F6F666;
        }
    }


    @media screen and (max-width: 1440px) {
        .exercises-btns-div{
            gap:8px;
        }
        .gallery{
            column-gap: 14px;
            row-gap: 14px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .exercises-header {
            margin-bottom: 20px;
            font-size: 32px;
            letter-spacing: -0.02em;
            line-height: 1;
        }
        .exercises-btns-div{
            gap:6px;
            margin-bottom: 40px;
        }
        .exercises-button {
            padding: 7px 14px;
            font-size: 14px;
        }        
        .gallery{
            column-gap: 20px;
            row-gap: 20px;
        }
        .gallery-item{
            width: 295px;
            height: 232px;
        }        
    }