.favorites-section {
  padding: 40px 20px;
}

.favorites-title {
  color: #1b1b1b;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}
.favorites-content {
  margin: 0 auto;
  width: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 28px;
  margin-top: 80px;
}
.favorites-card-content {
  margin-top: 20px;
  display: flex;
}
.favorites-text {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #1b1b1b;
}

/** TABLET STYLES */
@media only screen and (min-width: 768px) {
  .favorites-section {
    padding: 48px 8px 64px 16px;
  }
}

@media only screen and (min-width: 768px) {
  .favorites-card-content {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .favorites-content {
    width: 554px;
    margin-top: 208px;
  }
}
@media only screen and (min-width: 768px) {
  .favorites-text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .favorites-title {
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 2px;
  }
}

/** DESKTOP STYLES */

@media only screen and (min-width: 1158px) {
  .favorites-content {
    margin-top: 146px;
  }
}

/**STYLESS FAVORITES CARDS*/
.favorites-item {
  width: 295px;
  height: 165px;
  border-radius: 15px;
  padding: 16px;
  background-color: var(--white-color);
  overflow: hidden;
}
.favorites-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.favorites-item-workout {
  border-radius: 15px;
  background-color: var(--base-button-color);
  padding: 5px 8px;
  color: var(--page-bg-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}
.favorites-item-start {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 1.29;
  color: var(--text-base-color);
  align-self: center;
}
.favorites-arrow-icon {
  width: 14px;
  height: 14px;
  fill: var(--text-base-color);
  align-self: center;
}

.favorites-card-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.favorites-run-men {
  width: 24px;
  height: 24px;
  background-color: var(--base-button-color);
  border-radius: 100%;
  flex-shrink: 0;
  padding: 4px 5px;
}
.favorites-icon-run {
  width: 14px;
  height: 16px;
  fill: var(--page-bg-color);
}
.favorites-item-name {
  font-size: 20px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
}

.favorites-item-info {
  font-size: 12px;
  line-height: 1.5;
}
.ex-info-group:not(:last-child) {
  padding-right: 16px;
}

.favorites-item-desc {
  color: rgba(27, 27, 27, 0.4);
}
.favorites-group {
  scrollbar-width: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.favorites-item-head-wrapper {
  display: flex;
  flex-direction: row;
}
.delete-icon {
  stroke: transparent;
  fill: #1b1b1b;
  padding: 0px;

  width: 12px;
  height: 13px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.favorites-delete {
  margin-right: 109px;
  background-color: transparent;
  border: none;
  margin-left: 8px;
  padding: 0px;
}
.favorites-run-men {
  display: flex;
  flex-direction: row;
}
.favorites-card-title {
  display: flex;
  gap: 16px;
  align-items: center;
}

/** TABLET STYLES  */
@media screen and (min-width: 768px) {
  /* scroll styles */
  .favorites-section{
    padding-left: 48px;
    padding-right: 16px;
  }
  .favorites-card-content{
    max-height: 720px;
    overflow-y: auto;
  }
  .favorites-card-content::-webkit-scrollbar{
    width: 8px;
    border-radius: 12px;
  }
  .favorites-card-content::-webkit-scrollbar-track{
    border-radius: 12px;
    background: rgba(27, 27, 27, 0.1);
  }
  .favorites-card-content::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: var(--base-button-color);
}

  .favorites-item {
    width: 313px;
    height: 165px;
  }
  .favorites-group {
    column-gap: 14px;
    row-gap: 20px;
  }

  .favorites-item-start {
    font-size: 16px;
    line-height: 1.5;
  }
  .favorites-arrow-icon {
    width: 16px;
    height: 16px;
  }
  .favorites-card-title {
    margin-bottom: 12px;
  }
  .favorites-item-name {
    font-size: 24px;
    line-height: 1.33;
  }
}
/* *DESKTOP STYLES */
@media screen and (min-width: 1440px) {
  .favorites-card-content{
    max-height: 480px;
  }
  .favorites-group {
    column-gap: 20px;
    row-gap: 28px;
  }
  .favorites-delete {
    margin-right: 236px;
  }
  .favorites-card {
    row-gap: 28px;
  }
  .favorites-item-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .favorites-item {
    width: 424px;
    height: 141px;
  }
}
