 
 .favorites-section{
    /* max-width: 350px; */
    height: 450px;
    padding: 40px 20px;
 }

 .favorites-title{
    color: #1B1B1B;
margin-bottom: 80px;
font-size: 32px;
    line-height: 32px;
 }
 .favorites-content{
    margin: 0 auto;
    /* text-align: center; */
    width: 247px;
    height: 170px;
    display: flex;
        align-items: center;
    flex-direction: column;
    gap: 28px;
 }
 .favorites-text{
    /* font-weight: 500; */
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        /* letter-spacing: 0.02em; */
        color: #1B1B1B;
/* text-align: ce//nter; */
 }
 /* TABLET STYLES */
 @media only screen and (min-width: 768px) {
     .favorites-section{
        /* max-width: 736px; */
        height: 928px;
        padding: 64px 48px;
         /* justify-content: center;
         width: 100%; */
     }
 }

 @media only screen and (min-width: 768px) {
     .favorites-content{
        width: 554px;
            /* height: 72px; */
            outline: 2px solid red;
     }
 }
  @media only screen and (min-width: 768px) {
      .favorites-text{
        font-size: 18px;
        line-height: 24px;
      }
  }
   @media only screen and (min-width: 768px) {
       .favorites-title {
           /* width: 554px;
           height: 72px; */
        margin-bottom: 208px;
       }
   }


 /* DESKTOP STYLES */
 /* @media only screen and (min-width: 768px) and (max-width: 1158px) {
     .team-container {
         max-width: 584px;
     }
 } */

 @media only screen and (min-width: 1158px) {
     .features-items {
         --items: 4;
     }
 }

 @media only screen and (min-width: 1158px) {
     .features-list {
         flex-wrap: nowrap;
     }
 }