.overlay-rating {
    overflow: auto;
    position: fixed;
    display: none;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b99;
  }
.modal-rating{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 335px;
    padding: 20px 20px 40px;
    background-color: var(--page-bg-color);
    border-radius: 20px;
    .close-modal-rating-btn {
        position: absolute;
        top: 14px;
        right: 14px;
        background-color: transparent;
        border: none;
        outline: none;
    
        .close-modal-rating-icon {
          stroke: transparent;
          fill: var(--text-base-color);
        }
    }
}
.modal-rating-container{
    padding-top: 40px;
}

.rating-form{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(27, 27, 27, 0.4);
}
.rating-form-field{
    margin-bottom: 20px;
}
.rating-stars-group{
    display: flex;
    gap: 4px;
    align-items: center;
}
.rating-value{
    font-size: 12px;
    line-height: 1.5;
    color: var(--text-base-color);
}
/* star-container*/
.star-label {
    cursor: pointer;
  }
input[name="star"] {
    display: inline-block;
    width: 0;
    opacity: 0;
    margin-left: -2px;
}
.star {
    width:24px;
    height:24px;
    transition: color 0.2s ease-in-out;
    fill:rgba(27, 27, 27, 0.2);
  }
  
.star-container {
    display: flex;
    gap: 2px;
    flex-direction: row-reverse;
    justify-content: center;
}
  
label:hover ~ label .star,
  .star:hover,
  input[name="star"]:focus ~ label .star,
  input[name="star"]:checked ~ label .star {
    fill: var(--active-star-color);
}
  
  input[name="star"]:checked + label .star {
    animation: starred 0.5s;
  }
  
  input[name="star"]:checked + label {
    animation: scaleup 1s;
  }
  
  @keyframes scaleup {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes starred {
    from {
      color: var(--hover-button-color);
    }
    to {
      color:var(--active-star-color);
    }
  }
  /* styles for other fields */
.rating-field{
    border: 1px solid rgba(27, 27, 27, 0.4);
    border-radius: 30px;
    padding: 12px 14px 12px 14px;
    width: 100%;
    background: transparent;
    font-size: 14px;
    line-height: 1.29;
}
.rating-field::placeholder{
    font-size: 14px;
    line-height: 1.29;
    color: rgba(27, 27, 27, 0.6);    
}
.rating-input{
    margin-bottom: 10px;
}
.rating-textarea{
    height: 93px;
    resize: none;
    border-radius: 15px;
    margin-bottom: 20px;
}
.send-rating-btn{
    border-radius: 30px;
    padding: 12px 12px;
    width: 100%;
    background: var(--base-button-color);
    font-size: 14px;
    line-height: 1.29;
    color: var(--page-bg-color);
    border:none;
    outline: none;
}
.send-rating-btn:hover,
.send-rating-btn:active,
.send-rating-btn:focus{
    background: var(--hover-button-color);
}


/* Media queries  */
@media screen and (min-width: 768px) {
  .modal-rating{
    width:450px;
  }
  .rating-field::placeholder{
    font-size: 16px;
    line-height: 1.5;
    color: rgba(27, 27, 27, 0.6);    
  }
  .send-rating-btn{
    font-size: 16px;
    line-height: 1.5;
  }
  .rating-field{
    font-size: 16px;
    line-height: 1.5;
  }
}
