.header-container {
    padding-top: 23px;
}

.header-logo {
    display: inline-block;
    font-weight: 700px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin-right: auto;
    color: var(--text-base-color);
}
.header-container {
    display: flex;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 52px;
    border-radius: 60px;
    padding: 8px;
    color: var(--white-color);
    background-color: var(--base-button-color);
    border-radius: 60px;
    gap: 42px;
}
.page:hover {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 36px;
        border-radius: 30px;
        padding: 8px;
        color: var(--text-base-color);
        background-color: var(--white-color);
        border-radius: 60px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-link {
    margin-left: auto;
    gap: 12px;
}

.header-social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid rgba(126, 132, 127, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-icon {
    fill: var(--base-button-color);
    width: 24px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-icon:hover {
    fill: var(--hover-button-color);
}
.header-social-icon:focus {
    fill: var(--hover-button-color);
}

