.backdrop {
  overflow: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b99;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 335px;
  padding: 40px 20px;
  background-color: var(--page-bg-color);
  border-radius: 20px;
	@@ -60,13 +58,17 @@
      line-height: 1;
      margin-bottom: 10px;
    }

    .modal-title::first-letter {
      text-transform: uppercase;
    }

    .rating-container {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;

      .modal-exercises-rating {
        font-size: 12px;
        line-height: 18px;
      }
	@@ -105,6 +107,7 @@
      font-size: 14px;
      line-height: 18px;
      color: #1b1b1b99;
      margin-bottom: 40px;
    }
  }
  .modal-buttons-container {
	@@ -118,6 +121,8 @@
      border-radius: 30px;
      padding: 12px 0;
      transition: all 0.3s ease-in-out;
      font-size: 14px;
      line-height: 18px;
    }

    .add-favorite-btn {
	@@ -155,3 +160,50 @@
    }
  }
}

/* **************************** */
/* Styles for tablet */
/* **************************** */

@media screen and (min-width: 768px) {
  .modal {
    min-width: 716px;
    padding: 40px;
  }

  .modal-description-container {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .modal-gif {
    width: 270px;
    height: 259px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 32px;
  }

  .modal .modal-buttons-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;

    button {
      flex: auto;
    }
  }
}

/* **************************** */
/* Styles for desktop */
/* **************************** */

@media screen and (min-width: 1440px) {
  .modal {
    min-width: 732px;
  }
}