.gallery{
    min-height: 378px;
}
.exercise-item{
    width: 295px;
    height: 165px;
    border-radius: 15px;
    padding: 16px;
    background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .exercise-item{
        width: 313px;
        height: 165px;
    }
}

@media screen and (min-width: 1440px) {
    .exercise-item{
        width: 424px;
        height: 141px;
    }
}