.gallery{
    min-height: 378px;
}
.exercise-item{
    width: 295px;
    height: 165px;
    border-radius: 15px;
    padding: 16px;
    background-color: var(--white-color);
    overflow: hidden;
}
.ex-item-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.ex-item-head-group{
    display: flex;
    gap:16px;
}
.ex-item-workout{
    border-radius: 15px;
    background-color: var(--base-button-color);
    padding: 5px 8px;
    color:var(--page-bg-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}
.ex-rating-group{
    display: flex;
    gap: 2px;
    align-items: center;
}
.ex-item-rating{
    font-size: 12px;
    line-height: 1.5;
    color:var(--text-base-color);
    align-self: center;
}
.ex-star-icon{
    width: 18px;
    height: 18px;
    fill: var(--active-star-color);
    align-self: center;
}
.ex-item-start{
    display: flex;
    gap:8px;
    font-size: 14px;
    line-height: 1.29;
    color:var(--text-base-color);
    align-self: center;
}
.ex-arrow-icon{
    width: 14px;
    height: 14px;
    fill: var(--text-base-color);
    align-self: center;
}

.ex-title{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}
.ex-run-men{
    width: 24px;
    height: 24px;
    background-color: var(--base-button-color);
    border-radius: 100%;
    flex-shrink: 0;
    padding: 4px 5px;
}
.ex-icon-run{
    width: 14px;
    height: 16px;
    fill:var(--page-bg-color);
}
.ex-item-name{
    font-size: 20px;
    line-height: 1.2;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ex-item-info{
    font-size: 12px;
    line-height: 1.5;

    display: flex;
    gap:16px;
    row-gap: 4px;
    flex-wrap: wrap;
}

.ex-item-desc{
    color: rgba(27, 27, 27, 0.4);
}

/* Search form */
.search-form{
    position: relative;
}
.search-input{
    display: block;
    padding: 12px 14px;
    width: 295px;
    background-color: var(--page-bg-color);
    border-radius: 30px;
    border:none;
    outline: none;
}
.search-input::placeholder{
    color: var(--text-base-color);
    font-size: 16px;
    line-height: 1.5;
}
.search-btn,.search-clear-btn{
    position: absolute;
    top:0;
    right: 0;
    border:none;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--page-bg-color);

}
.search-clear-btn{
    right:30px;
    visibility: hidden;
}
.search-icon{
    width: 18px;
    height: 18px;
    fill:var(--text-base-color);
}

/* Media queries  */
@media screen and (min-width: 768px) {
    .exercises-card{
        row-gap: 20px;
    }
    
    .exercise-item{
        width: 313px;
        height: 165px;
    }
    .search-input{
        width: 246px;
    }
    .ex-item-start{
        font-size: 16px;
        line-height: 1.5;
    }
    .ex-arrow-icon{
        width: 16px;
        height: 16px;
    }
    .ex-title{
        margin-bottom: 12px;
    }
        .ex-item-name{
        font-size: 24px;
        line-height: 1.33;
    }
       
}

@media screen and (min-width: 1440px) {
    .exercises-card{
        row-gap: 28px;
    }
    .ex-item-info{
        gap: 10px;
    }
    .exercise-item{
        width: 424px;
        height: 141px;
    }
}


/*
  <div id="pagination" class="tui-pagination">
    <a href="#" class="tui-page-btn tui-first"><span class="tui-ico-first">first</span></a>
    <a href="#" class="tui-page-btn tui-prev"><span class="tui-ico-prev">prev</span></a>
    <a href="#" class="tui-page-btn tui-first-child">1</a>
    <strong class="tui-page-btn tui-is-selected">2</strong>
    <a href="#" class="tui-page-btn">3</a>
    <a href="#" class="tui-page-btn tui-next-is-ellip tui-last-child"><span class="tui-ico-ellip">...</span></a>
    <a href="#" class="tui-page-btn tui-next"><span class="tui-ico-next">next</span></a>
    <a href="#" class="tui-page-btn tui-last"><span class="tui-ico-last">last</span></a>
</div>
*/
/* Pagination styles for tui-pagination */
#pagination{
    font-size: 24px;
    margin-bottom: 0;
}
#pagination .tui-page-btn{
    font-size: 24px;
    border:none;
    color: rgba(27, 27, 27, 0.4);
}
#pagination .tui-page-btn:hover{
    background: none;
}
#pagination .tui-is-selected{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 0.7;
    color: var(--text-base-color);
    border: 1px solid var(--text-base-color);
    border-radius: 100%;
    background: none;
}