.useful-info-container {
  display: flex;
}

.useful-info-background {
  flex: 1;

  background-image: url(../img/useful-info/info_bg_mobile-min.png);
  background-size: cover;
}

.useful-info-icon-wrap {
  border-radius: 100%;
  fill: rgba(246, 246, 246, 0.1);
}

.useful-info-icon {
  fill: #f6f6f6;
  width: 34px;
  height: 34px;
  transition-property: fill;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.useful-info-text-wrap {
  background: var(--text-base-color);
  flex: 1;
  color: rgba(246, 246, 246, 0.6);
}
